.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-1 .u-image-1 {
  background-image: url("https://assets.nicepagecdn.com/e01150e4/5067950/images/image_2023-06-03_120556152.png");
  background-position: 50% 50%;
  min-height: 455px;
}

.u-section-1 .u-container-layout-1 {
  border-style: double;
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 455px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 67px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-image-1 {
    min-height: 375px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-image-1 {
    min-height: 287px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-1 .u-image-1 {
    min-height: 431px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1 .u-image-1 {
    min-height: 271px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-2 .u-image-1 {
  background-image: url("https://assets.nicepagecdn.com/e01150e4/5067950/images/image_2023-06-03_120613854.png");
  background-position: 50% 50%;
  min-height: 429px;
}

.u-section-2 .u-container-layout-1 {
  border-style: double;
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 429px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 59px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 102px 36px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-image-1 {
    min-height: 354px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-2 .u-image-1 {
    min-height: 271px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-image-1 {
    min-height: 407px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-2 .u-image-1 {
    min-height: 256px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 520px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-3 .u-image-1 {
  background-image: url("https://assets.nicepagecdn.com/e01150e4/5067950/images/image_2023-06-03_120629839.png");
  background-position: 50% 50%;
  min-height: 429px;
}

.u-section-3 .u-container-layout-1 {
  border-style: double;
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 429px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 102px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-3 .u-image-1 {
    min-height: 354px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-3 .u-image-1 {
    min-height: 271px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-3 .u-image-1 {
    min-height: 407px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-3 .u-image-1 {
    min-height: 256px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 520px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-4 .u-image-1 {
  background-image: url("https://assets.nicepagecdn.com/e01150e4/5067950/images/image_2023-06-03_120645736.png");
  background-position: 50% 50%;
  min-height: 429px;
}

.u-section-4 .u-container-layout-1 {
  border-style: double;
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 429px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 99px -15px -43px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-4 .u-image-1 {
    min-height: 354px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 354px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-4 .u-image-1 {
    min-height: 271px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-4 .u-image-1 {
    min-height: 407px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-4 .u-image-1 {
    min-height: 256px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 520px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-5 .u-image-1 {
  background-image: url("https://assets.nicepagecdn.com/e01150e4/5067950/images/image_2023-06-03_120707806.png");
  background-position: 50% 50%;
  min-height: 429px;
}

.u-section-5 .u-container-layout-1 {
  border-style: double;
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 429px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 29px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 126px -15px -41px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-5 .u-image-1 {
    min-height: 354px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 354px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-5 .u-image-1 {
    min-height: 271px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-5 .u-image-1 {
    min-height: 407px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-5 .u-image-1 {
    min-height: 256px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 520px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-6 .u-image-1 {
  background-image: url("https://assets.nicepagecdn.com/e01150e4/5067950/images/image_2023-06-03_120733746.png");
  background-position: 50% 50%;
  min-height: 429px;
}

.u-section-6 .u-container-layout-1 {
  border-style: double;
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 429px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 115px -15px -146px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-6 .u-image-1 {
    min-height: 354px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 354px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-6 .u-image-1 {
    min-height: 271px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-6 .u-image-1 {
    min-height: 407px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-6 .u-image-1 {
    min-height: 256px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 520px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-7 .u-image-1 {
  background-image: url("https://assets.nicepagecdn.com/e01150e4/5067950/images/image_2023-06-03_120754051.png");
  background-position: 50% 50%;
  min-height: 419px;
}

.u-section-7 .u-container-layout-1 {
  border-style: double;
  padding: 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 419px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 115px -15px -2px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-7 .u-image-1 {
    min-height: 345px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 345px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-7 .u-image-1 {
    min-height: 264px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-7 .u-image-1 {
    min-height: 396px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-7 .u-image-1 {
    min-height: 249px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 520px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-8 .u-image-1 {
  background-image: url("https://assets.nicepagecdn.com/e01150e4/5067950/images/image_2023-06-03_120804770.png");
  background-position: 50% 50%;
  min-height: 419px;
}

.u-section-8 .u-container-layout-1 {
  border-style: double;
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 419px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-8 .u-text-2 {
  margin: 89px -15px -5px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-8 .u-image-1 {
    min-height: 345px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 345px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-8 .u-image-1 {
    min-height: 264px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-8 .u-image-1 {
    min-height: 396px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-8 .u-image-1 {
    min-height: 249px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 520px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-9 .u-image-1 {
  background-image: url("https://assets.nicepagecdn.com/e01150e4/5067950/images/image_2023-06-03_120818769.png");
  background-position: 50% 50%;
  min-height: 429px;
}

.u-section-9 .u-container-layout-1 {
  border-style: double;
  padding: 30px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 429px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-9 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-9 .u-text-2 {
  margin: 94px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-9 .u-image-1 {
    min-height: 354px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 354px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-9 .u-image-1 {
    min-height: 271px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-9 .u-image-1 {
    min-height: 407px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-9 .u-image-1 {
    min-height: 256px;
  }
}